dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env*
.env*.local
deno.json
deno.lock

local.db*

# dependencies
/node_modules
docker-data/
/src/api/db/migrations

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
