@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@kobalte/tailwindcss";

@custom-variant dark (.dark &,[data-kb-theme="dark"] &);

@layer base {
  :root {
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.145 0 0);

    --color-muted: oklch(0.97 0 0);
    --color-muted-foreground: oklch(0.556 0 0);

    --color-popover: oklch(1 0 0);
    --color-popover-foreground: oklch(0.145 0 0);

    --color-border: oklch(0.922 0 0);
    --color-input: oklch(0.922 0 0);

    --color-card: oklch(1 0 0);
    --color-card-foreground: oklch(0.145 0 0);

    --color-primary: oklch(0.205 0 0);
    --color-primary-foreground: oklch(0.985 0 0);

    --color-secondary: oklch(0.97 0 0);
    --color-secondary-foreground: oklch(0.205 0 0);

    --color-accent: oklch(0.97 0 0);
    --color-accent-foreground: oklch(0.205 0 0);

    --color-destructive: oklch(0.577 0.245 27.325);
    --color-destructive-foreground: oklch(0.985 0 0);

    --color-info: oklch(0.946 0.084 222.109);
    --color-info-foreground: oklch(0.682 0.163 219.804);

    --color-success: oklch(0.905 0.096 166.233);
    --color-success-foreground: oklch(0.722 0.169 166.233);

    --color-warning: oklch(0.948 0.12 78.052);
    --color-warning-foreground: oklch(0.789 0.201 60.647);

    --color-error: oklch(0.93 0.167 25.258);
    --color-error-foreground: oklch(0.704 0.191 22.216);

    --color-ring: oklch(0.708 0 0);
  }

  .dark,
  [data-kb-theme="dark"] {
    --color-background: oklch(0.145 0 0);
    --color-foreground: oklch(0.985 0 0);

    --color-muted: oklch(0.269 0 0);
    --color-muted-foreground: oklch(0.708 0 0);

    --color-accent: oklch(0.269 0 0);
    --color-accent-foreground: oklch(0.985 0 0);

    --color-popover: oklch(0.205 0 0);
    --color-popover-foreground: oklch(0.985 0 0);

    --color-border: oklch(1 0 0 / 10%);
    --color-input: oklch(1 0 0 / 15%);

    --color-card: oklch(0.205 0 0);
    --color-card-foreground: oklch(0.985 0 0);

    --color-primary: oklch(0.922 0 0);
    --color-primary-foreground: oklch(0.205 0 0);

    --color-secondary: oklch(0.269 0 0);
    --color-secondary-foreground: oklch(0.985 0 0);

    --color-destructive: oklch(0.704 0.191 22.216);
    --color-destructive-foreground: oklch(0.985 0 0);

    --color-info: oklch(0.488 0.243 264.376);
    --color-info-foreground: oklch(0.769 0.188 70.08);

    --color-success: oklch(0.627 0.265 303.9);
    --color-success-foreground: oklch(0.985 0 0);

    --color-warning: oklch(0.645 0.246 16.439);
    --color-warning-foreground: oklch(0.985 0 0);

    --color-error: oklch(0.645 0.246 16.439);
    --color-error-foreground: oklch(0.985 0 0);

    --color-ring: oklch(0.556 0 0);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  @media (max-width: 640px) {
    .container {
      @apply px-4;
    }
  }

  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    border: 4px solid transparent;
    background-clip: content-box;
    @apply bg-accent;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }
}

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius: 0.5rem;
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--kb-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--kb-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes content-show {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes content-hide {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.96);
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-content-show: content-show 0.2s ease-out;
  --animate-content-hide: content-hide 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility step {
  counter-increment: step;

  &:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium
      text-center text-base inline-flex items-center justify-center -indent-px
      border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}
